basitDortIslem/ServicedenBilgiAlarakToplama/ServicedenBilgiAlarakToplama/Service References/wsDortIslem/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="topla">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="toplaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="toplaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="carp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="carpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="carpResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fark">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="farkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="farkResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bolResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="toplaSoapIn">
    <wsdl:part name="parameters" element="tns:topla" />
  </wsdl:message>
  <wsdl:message name="toplaSoapOut">
    <wsdl:part name="parameters" element="tns:toplaResponse" />
  </wsdl:message>
  <wsdl:message name="carpSoapIn">
    <wsdl:part name="parameters" element="tns:carp" />
  </wsdl:message>
  <wsdl:message name="carpSoapOut">
    <wsdl:part name="parameters" element="tns:carpResponse" />
  </wsdl:message>
  <wsdl:message name="farkSoapIn">
    <wsdl:part name="parameters" element="tns:fark" />
  </wsdl:message>
  <wsdl:message name="farkSoapOut">
    <wsdl:part name="parameters" element="tns:farkResponse" />
  </wsdl:message>
  <wsdl:message name="bolSoapIn">
    <wsdl:part name="parameters" element="tns:bol" />
  </wsdl:message>
  <wsdl:message name="bolSoapOut">
    <wsdl:part name="parameters" element="tns:bolResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="topla">
      <wsdl:input message="tns:toplaSoapIn" />
      <wsdl:output message="tns:toplaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="carp">
      <wsdl:input message="tns:carpSoapIn" />
      <wsdl:output message="tns:carpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fark">
      <wsdl:input message="tns:farkSoapIn" />
      <wsdl:output message="tns:farkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="bol">
      <wsdl:input message="tns:bolSoapIn" />
      <wsdl:output message="tns:bolSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="topla">
      <soap:operation soapAction="http://tempuri.org/topla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="carp">
      <soap:operation soapAction="http://tempuri.org/carp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fark">
      <soap:operation soapAction="http://tempuri.org/fark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bol">
      <soap:operation soapAction="http://tempuri.org/bol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="topla">
      <soap12:operation soapAction="http://tempuri.org/topla" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="carp">
      <soap12:operation soapAction="http://tempuri.org/carp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fark">
      <soap12:operation soapAction="http://tempuri.org/fark" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bol">
      <soap12:operation soapAction="http://tempuri.org/bol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:58395/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:58395/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>